.usercard__form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 10px;
}
.usercard__inn {
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	min-width: 400px;
}
