.main-working-hours {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submodule-title {
  color: var(--primary-color);
  font-size: 20px;
  margin-bottom: 15px;
}

.panel-control-filter {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}

.panel-control-filter button {
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--primary-color);
}
