.create-working-hours {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0;
}

.wrapper-nav-documents-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.wrapper-nav-documents-list button {
  border-radius: 30px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.wrapper-nav-documents-list button.active-tab {
  background-color: var(--primary-color);
  color: #fff;
}

.create-working-hours form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: end;
}

.MuiStack-root.css-10o2lyd-MuiStack-root {
  width: 48%;
  height: 100%;
}

.MuiFormControl-root.MuiTextField-root.css-17w7vnp-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  height: 100%;
}
