.nav-panel-control {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #0000001e;
  padding: 20px 30px;
}

.action-buttons button,
.back-button button {
  color: var(--primary-color);
  font-weight: bold;
}

.action-buttons {
  display: flex;
  gap: 25px;
}
