.workerExperience-form {
	display: flex;
}
.worker__education-title {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.work__experience-title {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.prevjob-title {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.file-label {
	background: rgba(161, 161, 161, 0.134);
	border-radius: 10px;
	border: 1px dashed black;
	font-size: 40px;
	cursor: pointer;
	text-align: center;
	max-width: 100px;
	width: 100%;
	min-height: 100px;
	line-height: 95px;
	border-radius: 10px;
	font-weight: 700;
}

.file-input {
	display: none;
}

.worker__experience {
	display: flex;
	flex-direction: column;
}

.workerExperience__card-content {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.workerExperience-form {
	display: flex;
	flex-direction: column;
}
.workerExperience-card {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 20px;
	border: 1px solid gray;
	width: calc((100% - 10px) / 2);
	border-radius: 10px;
}

.workerPersonal-inp {
	min-width: 700px;
	width: calc((100% - 10px) / 2);
}

/* file */
.file-upload-content {
	width: 100%;
}
.file-upload-list-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.file-upload-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.file-upload-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	border: 1px dashed gray;
	border-radius: 10px;
	margin-bottom: 10px;
}

.personaly-files {
	min-width: 100%;
}
